$color-1: #000;
$size: 4px;

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.beg {
  color: green;
}

.end {
  color: red;
}

.control {
  position: absolute;
  width: 10px;
  height: 10px;
  background: blue;
}

.first {
  order: -1;
}

.pattern, .patternb, .circle {
  flex-grow: 10;
  width: 80vh;
  max-width: 100%;
  // outline: 1px solid blue;
}

.main {
  position: relative; // reset offset
  clip-path: polygon(50% 10%, 90% 50%, 15% 70%);
}

path {
  stroke-width: 0.5px;
}

.pattern, .patternb {
  position: relative;

  svg {
    outline: 1px solid linen;
    max-height: calc(100vh - 2em);
  }
}

.circle {
  margin-top: 1em;
}

.face {
  animation: rotate 12s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
